.slider-box {
  margin: 20px 20px;
}

.slider-box .slick-list {
  overflow: visible !important;
}
.slideTitle {
  margin-bottom: 20px;
}

.slick-arrow {
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.slick-arrow:hover {
  transform: scale(1.5);
}
