.container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.videoBox {
  display: flex;
  flex-direction: column;
}
.videoBox > .videoText {
  background-color: #1d2024;
  min-height: 200px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
